<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Hello MUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" href="/static/webapp/css/mui.min.css">
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="static/webapp/css/app.css"/>
    {% block style %}
    {% endblock %}
  </head>

  <body>
    {% block content %}
    {% endblock%}
  </body>
  <script src="/static/webapp/js/mui.min.js"></script>
  <script>
    mui.init({
      swipeBack:true //启用右滑关闭功能
    });
  </script>
  {% block script %}
  {% endblock %}
</html>